@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* From Uiverse.io by SupportHotline */
button {
  /* ... basic styles ... */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition:
    box-shadow 0.3s ease,
    transform 0.3s ease;
}
button:hover {
  box-shadow:
    0 8px 12px rgba(0, 0, 0, 0.2),
    0 0 15px rgba(0, 255, 255, 0.5);
  transform: translateY(-2px); /* Lifts slightly */
}

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  background-color: #1a0b2e;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}
button {
  cursor: pointer;
}
/* nav bar design */
.hamburger {
  display: none;
}
.nav-container {
  max-width: 1600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  fill: none;
  stroke: #412567;
  stroke-width: 2px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.menu {
  display: flex;
  align-items: center;
  gap: 32px;
}

.menu a {
  color: #ffffff;
  font-size: 1rem;
  line-height: 120%;
  font-weight: 500;
}

.nav-btn button {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  padding: 12px 16px;
  border-radius: 1000px;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 500;
  animation: gradient 2.5s ease-in-out infinite;
  box-shadow:
    0 0 15px rgba(251, 9, 180, 0.6),
    0 0 30px rgba(145, 0, 248, 0.4);

  transition: box-shadow 0.3s ease;
}

@keyframes gradient {
  0% {
    box-shadow:
      0 0 12px rgba(251, 9, 180, 0.5),
      0 0 25px rgba(145, 0, 248, 0.35);
  }

  50% {
    box-shadow:
      0 0 22px rgba(251, 9, 180, 0.8),
      0 0 45px rgba(145, 0, 248, 0.6);
  }

  100% {
    box-shadow:
      0 0 12px rgba(251, 9, 180, 0.5),
      0 0 25px rgba(145, 0, 248, 0.35);
  }
}

/* banner section design */
.banner-container {
  background-image: url(./assets/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 100%;
  height: 760px;
  max-width: 1600px;
  margin: 0 auto;
}
.circle-image {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 350px;
  max-height: 350px;
  position: relative;
  margin: 0 auto;
  transform: translate(0%, 20%);
}

.microphone {
  position: absolute;
}
.circle-image button {
  position: relative;
  padding: 8px 16px;
  font-size: 1.125rem;
  font-weight: 600;
  color: #1a0b2e;
  background: #00ff88;
  border-radius: 1000px;
  border: none;
  z-index: 1;
}
.circle-image button::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;

  background: linear-gradient(
    45deg,
    #fb0094,
    #0000ff,
    #00ff00,
    #ffff00,
    #ff0000,
    #fb0094
  );
  background-size: 300% 300%;
  animation: borderanimation 6s linear infinite;

  z-index: -1;
}
.circle-image button::after {
  content: "";
  position: absolute;
  inset: 2px;
  border-radius: inherit;
  background: #00ff88;
  z-index: -1;
}
@keyframes borderanimation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.circle-image button {
  position: absolute;
  transform: translate(165%, -415%);
}
.banner-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(0, 90%);
}
.banner-article h1 {
  color: #ffffff;
  font-size: 3.75rem;
  font-weight: 800;
}
.banner-article p {
  color: #ffffff;
  font-size: 1rem;
  margin-top: 8px;
  margin-bottom: 24px;
  text-align: center;
}
.banner-btn {
  display: flex;
  gap: 8px;
}
.banner-btn button {
  padding: 12.5px 20px;
  border-radius: 1000px;
  display: inline-flex;
  align-items: center;
  gap: 8px;
}
.spotify {
  background: linear-gradient(90deg, #f7e93f 0%, #fb09b4 51%, #9100f8 100%);
  color: #ffffff;
  border: none;
}
.subscribe-btn {
  /* background: none; */
  color: #00ff88;
  /* border: 02px solid #00ff88; */
  position: relative;
  background: transparent;
  border: none;
  z-index: 1;
}
.subscribe-btn::before {
  content: "";
  position: absolute;
  inset: -2px;
  border-radius: inherit;

  background: linear-gradient(
    45deg,
    #00ff99,
    #00e0ff,
    #9b00ff,
    #ff00c8,
    #00ff99
  );
  background-size: 300% 300%;
  animation: borderMove 6s linear infinite;

  z-index: -1;

  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  padding: 2px;
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.subscribe-btn::before {
  filter: blur(3px);
}
/* about podcast section design */
.about-container {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
}

.about-container h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: bold;
}
.about-article p {
  line-height: 20px;
  font-size: 1rem;
  opacity: 80%;
  color: #ffffff;
  margin-top: 16px;
}
.about-container hr {
  color: #ffffff;
  width: 80%;
  margin: 80px auto;
}
.about-rating {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin-bottom: 120px;
}
.about-rating p {
  line-height: 20px;
  font-size: 1rem;
  opacity: 80%;
  color: #ffffff;
  margin-top: 16px;
}
.about-rating h3 {
  color: #00ff88;
  font-size: 3rem;
}
.box {
  max-width: 240px;
  height: 94px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/* Why Techwave section design */
.grid-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 120px;
  background-color: #230e3d;
}
.grid-container > h2 {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  color: #ffffff;
  margin-bottom: 40px;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(220px, auto);
  gap: 30px;
  margin: 0 auto;
  max-width: 1200px;
  padding-bottom: 40px;
}
.grid h3 {
  font-size: 1.33rem;
  color: #ffffff;
  font-weight: bold;
}
.grid p {
  font-size: 1rem;
  color: #ffffff;
  opacity: 60%;
}
.grid-box1 {
  grid-column: 1;
  grid-row: 1 / span 2;
  display: flex;
  flex-direction: column;

  justify-content: center;
  padding: 108px 40px;
  background-color: #3511654b;
  border-radius: 40px;
  gap: 16px;
}
.grid-box2 {
  grid-column: 2 / span 2;
  grid-row: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #3511654b;
  border-radius: 40px;
  gap: 16px;
}
.grid-box3 {
  grid-column: 2 / span 2;
  grid-row: 2;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #3511654b;
  border-radius: 40px;
  gap: 16px;
}
.grid-box4 {
  grid-column: 1 / span 2;
  grid-row: 3;

  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #3511654b;
  border-radius: 40px;
  gap: 16px;
}

.grid-box5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 40px;
  background-color: #3511654b;
  border-radius: 40px;
  grid-column: 3;
  grid-row: 3;
  gap: 16px;
}
/* Featured Episodes Section Design */
.episode-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-top: 120px;
}
.episode-container h2 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 40px;
}
.video-card {
  display: flex;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  gap: 30px;
}
.video {
  background-color: #250d44;
  width: 380px;
  border-radius: 16px;
  height: 440px;
  padding: 20px 5px;
}
.iframe {
  border-radius: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 5px;
}
.video-contant {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 24px;
}
.video-contant h4 {
  font-size: 1.5rem;
  color: #ffffff;
}
.video-contant > p {
  line-height: 24px;
  color: #ffffff;
  opacity: 60%;
}
.duration p {
  display: inline-flex;
  gap: 6px;
  align-items: center;
  justify-content: center;
  color: #00ff88;
}
/* host section design */
.host-container {
  max-width: 1600px;
  margin: 0 auto;
  padding-bottom: 120px;
}
.host-container h2 {
  text-align: center;
  color: #ffffff;
  font-size: 3rem;
  font-weight: bold;
  margin-top: 120px;
  margin-bottom: 40px;
}
.host-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  max-width: 1200px;
  margin: 0 auto;
  background-color: #3511653b;
  padding: 40px;
  border-radius: 40px;
}
.host-flex > img {
  width: 200px;
  /* height: 200px; */
}
.host-article h3 {
  font-size: 2rem;
  color: #ffffff;
  font-weight: bold;
}
.host-article p {
  font-size: 1rem;
  line-height: 24px;
  opacity: 60%;
  margin: 16px 0px;
  color: #ffffff;
}
.host-article button {
  background: transparent;
  display: inline-flex;
  gap: 8px;
  border-radius: 50%;
  padding: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid #533c72;
}

/* footer section design */

.footer-container {
  max-width: 1600px;
  height: 412px;
  margin: 0 auto;
  background-image: url(./assets/footer-bg.png);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  gap: 32px;
}
.footer-logo img {
  max-width: 100%;
}
.footer-btn {
  display: flex;
  gap: 40px;
}
.footer-btn > button {
  background: transparent;
  display: inline-flex;
  color: #ffffff;
  border: none;
  gap: 8px;
  align-items: center;
  opacity: 60%;
  font-weight: 600;
}
.copyright p {
  opacity: 60%;
  line-height: 24px;
  font-size: 1rem;
  color: #ffffff;
}
/* responsive design */

@media screen and (max-width: 576px) {
  .menu {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .nav-btn {
    display: none;
  }
  .nav-container {
    padding: 20px;
  }
  .circle-image {
    transform: translate(0, 15%);
  }
  .grid-container {
    padding-top: 60px;
  }
  .grid-container > h2 {
    padding: 0 10px;
    font-size: 2.5rem;
  }
  .banner-container {
    height: 560px;
  }
  .banner-article {
    transform: translate(0, 75%);
  }
  .about-container {
    margin-top: 150px;
  }
  .about-article {
    padding: 20px;
  }
  .about-rating {
    flex-wrap: wrap;
    padding: 20px;
    margin-bottom: 60px;
  }
  .episode-container {
    padding-top: 60px;
  }
  .about-rating {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 5px;
  }
  .grid {
    display: flex;
    flex-direction: column;
    padding: 30px;
  }
  .video-card {
    flex-direction: column;
    gap: 15px;
  }
  .host-flex {
    flex-direction: column;
    text-align: center;
  }
  .host-container h2 {
    margin-top: 60px;
  }
  .host-container {
    padding-bottom: 50px;
  }
  .footer-logo img {
    width: 219px;
  }
  .footer-container {
    background-size: 180% auto;
    background-position: center top;
    height: 180px;
    gap: 16px;
  }
  .footer-btn {
    flex-wrap: wrap;
    width: 265px;
    justify-content: center;
    align-content: center;
    gap: 20px;
  }
  .copyright p {
    font-size: 0.5rem;
  }
}
